*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    border-bottom: 2px solid blueviolet;
    position: fixed;
    width: 100%;
}
#imagen-riwi{
    width: 200px;
}

h2{
    background-color: aliceblue;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

article{
    border: 1px solid black;
    height: 2000px;
    margin-top: 100px;
}

article img{
    width: 150px;
    
}