*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    border-bottom: 2px solid blueviolet;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
}
#imagen-riwi{
    width: 200px;
}

h2{
    background-color: aliceblue;
    position: sticky;
    top: 130px;
    z-index: 0;
}

section{
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
}

article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: calc(50% - 10px);
}

article img{
    width: 150px;
}
